.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #FF66FF;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a {
  color: #CC0066;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: black;
}

.distill-site-header {

}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
